img[src*="#thumbnail"] {
   width:125px;
   #height:100px;
}

code {
   color:#009999 !important;
   background-color:#F7F7F7 !important;
   
   font-size: 14px !important;
   font-weight: bold !important;
   font-family: Monaco, monospace !important;
   
   border-radius: 5px !important;
}

p {
   font-size: 14px;
}